/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

p {
	padding: 10px;
}

.content-box {
	width: 80%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 1px 1px 4px #555;
}

.company-name {
	font-size: 36px;
	color: #116189;
	font-family: 'Boogaloo', sans-serif;
	padding-top: 20px;
}

.gears-image {
	float: left;
	margin-right: 10px;
}

.motto {
	font-size: 120%;
	font-style: italic;
	margin-top: -10px;
}

nav ul {
	background-color: #D74710;
	border-radius: 5px;
	margin: 10px;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 120%;
	text-align: left;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	background-color: #FF9D45;
	border-radius: 5px;
}

.factory {
	float: left;
	margin-right: 10px;
}

.freeshipping {
	float: right;
}

.footerline {
	border-top:thin solid lightgrey;
	margin-right: 10px;
	margin-left: 10px;
}

.footer {
	margin-top: 50px;
	font-style: italic;
	font-size: 80%;
	padding-bottom: 20px;
}

.footer a:link,
.footer a:visited {
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.our-story {
	font-size: 30px;
	color: #116189;
	font-weight: bold;
}

.p1 {
	margin-top: -10px;
}

.our-team {
	font-size: 30px;
	color: #116189;
	font-weight: bold;
}

.amychen {
	float: left;
	color: #116189;
	font-weight: bold;
}
